#real-content #img-zoom-preview {
  cursor: zoom-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #555555aa;
  z-index: 5000;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 10vh;
  background-origin: content-box;
}

#real-content img {
  cursor: zoom-in;
  margin: 10px 0;
}

#real-content table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 1000px;
}
