#real-content #img-zoom-preview {
  cursor: zoom-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #555555aa;
  z-index: 5000;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 10vh;
  background-origin: content-box;
}

#real-content img {
  cursor: zoom-in;
  margin: 10px 0;
}

#real-content table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 1000px;
}

#real-content .highlight {
  position: relative;
}

#real-content .source-copy {
  user-select: none;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 300;
  cursor: pointer;
  background-color: #222222;
  padding: 7px 10px;
  border-radius: 8px;
  margin-top: 7px;
  margin-right: 7px;
}

#real-content .highlight:hover .source-copy {
  display: inline;
}

/* Code block expander */

#real-content .highlight.source-show-compacted {
  height: 200px;
  overflow-y: hidden;
}

#real-content .highlight.source-show-compacted .source-show-less {
  display: none;
}

#real-content .highlight.source-show-expanded {
  height: auto;
  overflow-y: auto;
}

#real-content .highlight.source-show-expanded .source-show-more {
  display: none;
}

#real-content .source-show-more,
#real-content .source-show-less {
  user-select: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 300;
  cursor: pointer;
  background-color: #222222;
  padding: 7px 10px;
  border-radius: 8px;
  margin-bottom: 7px;
  margin-right: 7px;
}
